:root{
    --white-background: #FFFFFF;

}
html, body{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

    #app{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

a{
    color: black;
    text-decoration: none;
}

input{
    border: none;
    background: rgb(254, 217, 149);
    font-size: 1.5rem;
    padding: 10px 20px;
    outline: none;
    box-sizing: border-box;
    border-radius: 2px;
}